.mainPanel {
    display: flex;
    width: 100vw;
    flex-direction: row;
}

.leftPanel {
    width: clamp(20rem, 20%, 25rem);
    margin: 0.5rem 0 0.5rem 0.5rem;
}

.rightPanel {
    flex: 1;
    margin: 0.5rem;
}