.mainPanel {
    display: flex;
    width: 100vw;
    flex-direction: row;
}

.leftPanel {
    width: clamp(20rem, 20%, 25rem);
    margin: 0.5rem 0 0.5rem 0.5rem;
}

.rightPanel {
    flex: 1;
    margin: 0.5rem;
}

.rightPanelContainer {
    flex: 1;
    height: calc(100vh - 1.25rem);
    background-color: rgba(36,36,36,0.65);
    border: 2px solid #404040;
    border-radius: 0.5rem;
}

.switchContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0.5rem;
}